.Wrapper {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}

.header {
    background-color: burlywood;
}

.header_top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}